<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>按作者查找</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div>
            <a type="button" class="btn btn-info center-block" href="/app01/index/">回到首页</a>
        </div>
        <table class="table table-striped  table-bordered">
            <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>地址</th>
                <th>代表作</th>
            </tr>
            </thead>
            <tbody>
                {% for author in author_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ author.name }}</td>
                        <td>{{ author.authorDetail.telephone}}</td>
                        <td>{{ author.authorDetail.addr}}</td>
                        <td>
                            <a class="btn btn-success" href="/app01/author_books/{{ author.pk }}/">查看</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {#  分页  #}
        {% include 'app01/my_page.html' %}
    </div>
</div>
</body>
</html>