<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-offset-3">
                <form action="" method="post">
                    {% csrf_token %}

                    <div>
                        <label for="">用户名</label>
                        <input type="text" name="username" class="form-control">
                        <span class="pull-right" style="color: red">{{ error }}</span>
                    </div>
                    <div>
                        <label for="">密码</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <button type="submit" class="pull-right btn btn-info">登录</button>
{#                    <a type="button" class="pull-right btn btn-success" href="/app01/reg/">注册</a>#}
                    <a  class="pull-right" href="/app01/reg/" style="margin-top: 6px">注册</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>